
.header-logo{
    width: 200px;
    height: 110px;
}
.fa-facebook-official{
    color:#4267B2 
}
.fa-google-plus-square{
    color:#DB4437;

}
/*search bar*/
.btn-outline-secondary {
    color: rgb(60,141,214);
    border-color: #ced4da;
    margin-left: 10px;
    background-color: white;
}
.input-group .input-group-prepend .btn:hover{

    background-color:rgb(60,141,214);
    color:white
}

 .form-control:not(:first-child) {
    border-radius: 0px 20px 20px 0px;
}
.input-group .input-group-prepend .btn {
    border-radius: 100% 0px 0px 100%;
}
nav .navbar-collapse ul li a {
    font-weight: 600;
    font-size:1.2rem;
}
.form-group .col-sm-10 button{
font-size:1rem;
}


.log-btn{
    font-size:1rem;
    font-weight:600;
    border-radius: 21px;
}

li a i .fa{
    font-size:1.2rem;
}
.navbar-light .navbar-nav .log-btn{
    color:rgb(60,141,214) ; 
}

.navbar-light .navbar-nav .log-btn:hover{
    color: rgb(220,52,67)

}
.smllfnt{
    font-size:small;
}
.reg-btn:focus,.log-btn{
    box-shadow: 0 0 0 0 transparent;

}
/*
.reg-btn:hover{
    background-color:rgb(60,141,214);
    color:#f8f9fa;
    transition:.3s;

}*/
/*log modal*/
.modal-header .close{
    margin: -1rem  auto -1rem  -1rem;
}
.col-form-label,.save-pass{
    text-align:right;
    padding-left:0px
}
.form-control{
    text-align:right;
}
.save-pass{
    margin-right:25px;
}
/*reg modal*/
.s-reg{
    text-align: center;
}
.s-reg .fa{
    color:   #f8f9fa;
    font-size:large;
    vertical-align: middle;

}

 a{
color:#007bff;
}
.btn-face{
    background-color:#4267B2 ;

}
.btn-google{
    background-color:#DB4437;
}
.btn-social{
    padding:5px 35px
}

