<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav   mr-auto">
      <li class="nav-item ">
        <a class="nav-link">
          <i class="fa fa-facebook-official" aria-hidden="true"></i>

        </a>
      </li>

      <li class="nav-item  " href="#">
        <a class="nav-link" href="#">
          <i class="fa fa-google-plus-square" aria-hidden="true"></i>

        </a>
      </li>

      <li class="nav-item  ">
        <button type="button" class="btn log-btn " data-toggle="modal" data-target="#regmodal">
          <span class="inside-btn"> تسجيل</span>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="regmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
          aria-hidden="true">
          <div class="modal-dialog " role="document">
            <div class="modal-content">

              <div class="modal-header bg-g">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="exampleModalScrollableTitle"> انشاء حساب</h5>
              </div>

              <div class="modal-body bg-w">


                <div class="form-group row">
                  <div class="col-sm-9">
                    <input type="text" name="username" [(ngModel)]="objRegister.username" class="form-control"
                      id="inputuser" placeholder="اسم المستخدم">
                  </div>
                  <label for="inputuser" class="col-sm-3 col-form-label">اسم المستخدم</label>
                </div>

                <div class="form-group row">
                  <div class="col-sm-9">
                    <input type="email" class="form-control" name="email" [(ngModel)]="objRegister.email"
                      id="inputEmail3" placeholder="البريد الالكتروني">
                  </div>
                  <label for="inputEmail3" class="col-sm-3 col-form-label">البريد الالكتروني</label>
                </div>

                <div class="form-group row">
                  <div class="col-sm-9">
                    <input type="password" class="form-control" name="password" [(ngModel)]="objRegister.password"
                      id="inputPassword3" placeholder="كلمة المرور">
                  </div>
                  <label for="inputPassword3" class="col-sm-3 col-form-label">كلمة المرور</label>
                </div>

                <div class="form-group row ">
                  <div class="col-sm-9 save-pass">
                    <div class="form-group mb-0 form-check">
                      <label class="form-check-label save-pass " for="exampleCheck1">تذكرني</label>
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                  </div>
                </div>
                <hr>
                <!--
                                 <div class="s-reg">
                    <p>انشاء حساب باستخدام</p>
                    <span class="mr-2">
                      <button type="button" class="btn btn-social btn-face"(click)="FacebookAuth()"><i class="fa fa-facebook" aria-hidden="true"></i>   </button>  
                    </span>
               <span> او</span>
                   <span class="ml-2"> <button type="button" class="btn btn-social btn-google"(click)="GoogleAuth()"> <i class="fa fa-google" aria-hidden="true"></i> </button> 
               </span>
                  </div>
                -->
                <div class="form-group row ">
                  <div class="col-sm-10">
                    <button type="button" class="btn btn-primary" (click)="register(objRegister)">تسجيل</button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="nav-item ">
        <button type="button" class="btn log-btn" data-toggle="modal" data-target="#logmodal">
          دخول
        </button>

        <!-- Modal -->
        <div class="modal fade" id="logmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
          aria-hidden="true">
          <div class="modal-dialog " role="document">
            <div class="modal-content">

              <div class="modal-header bg-g">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="exampleModalScrollableTitle"> تسجيل الدخول</h5>
              </div>

              <div class="modal-body bg-w">
                <form class="">
                  <div class="form-group row">

                    <div class="col-sm-9">
                      <input type="email" class="form-control" [(ngModel)]="objLogin.email" name="email"
                        id="inputEmail3" placeholder="البريد الالكتروني">
                    </div>
                    <label for="inputEmail3" class="col-sm-3 col-form-label">البريد الالكتروني</label>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-9">
                      <input type="password" class="form-control" [(ngModel)]="objLogin.password" name="password"
                        id="inputPassword3" placeholder="كلمة المرور">
                    </div>
                    <label for="inputPassword3" class="col-sm-3 col-form-label">كلمة المرور</label>
                  </div>

                  <div class="form-group row ">
                    <div class="col-sm-9 save-pass">
                      <div class="form-group form-check">
                        <label class="form-check-label save-pass " for="exampleCheck1">تذكرني</label>
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      </div>
                      <a class="b-link">نسيت كلمة السر؟</a>

                    </div>

                  </div>
                  <hr>
                  <div class="form-group row ">
                    <div class="col-sm-10">
                      <button type="button" class="btn btn-primary" data-dismiss="modal"
                        (click)="login(objLogin)">دخول</button>
                    </div>
                  </div>
                </form>


                <!--

                  <form>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                -->
              </div>

            </div>
          </div>
        </div>

      </li>

    </ul>
    <ul class="navbar-nav mr-auto ml-auto">
      <div class="input-group ">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" id="button-addon1"><i
                    class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
        <input type="text" class="form-control" placeholder="بحث"
            aria-label="Example text with button addon" aria-describedby="button-addon1">
    </div>
  
      <!--
      <li class="nav-item">
        <div class="smllfnt">
          اليوم :الثلاثاء
          <span class="mx-5">الموافق: 12-12-2000</span>
        </div>

      </li>  -->
    </ul>

    <ul class="navbar-nav ml-auto">
      <img src="assets/img/qalb-logo.jpeg" class="header-logo">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </ul>

  </div>
</nav>