
    
   .fa-facebook-official{
    color:#4267B2 ;
  
}
.fa-google-plus-square{
    color:#DB4437;
 
}
.footer-logo{
  width:200px;
  height:100px;
}
.pwr{
  text-transform: capitalize;
  margin-right:5px
}
  
    ul li a .soc{
        font-size:1.8rem;
    }
   
      .fa-ads{
        font-size:55px;
    }
    /*last div*/
   .footer-bottom{
font-size:16px;
color:#f8f9fa;
background-color: gray;
opacity:.8;
text-transform: capitalize;
padding:5px 10px;
   }
   