<nav class="navbar   navbar-light bg-light">

  <ul class="navbar-nav  ml-5  mr-auto">
    <li class="nav-item s" href="#">
      <a class="nav-link" href="#">
        <i class="fa soc fa-facebook-official" aria-hidden="true"></i>
      </a>
    </li>

    <li class="nav-item " href="#">
      <a class="nav-link" href="#">
        <i class="fa soc fa-google-plus-square" aria-hidden="true"></i>
      </a>
    </li>

  </ul>
  <ul class="navbar-nav mr-auto ml-auto">
   
  </ul>

  <ul class="navbar-nav mr-5 ml-auto">
    <li class="nav-item s" href="#">
      <a class="nav-link" href="#">
        <span class="pwr">powerd by</span>
        <img src="assets/img/qalb-logo.jpeg" alt="logo" class="footer-logo">

      </a>
    </li>
  </ul>


</nav>
<div class="container">
  <div class="row d-flex">

  </div>
  <div class="row footer-bottom ">
    <div class="col-xs-4 mr-auto ">
      <span class="copyrights"> <i class="fa fa-copyright" aria-hidden="true"></i> حقوق الملكيه محفوظه ل قلب الحدث
      </span>

    </div>
    <div class="col-xs-4 ">
      <span class="design "></span>
     motion works تم التصميم بواسطه 
    </div>
  </div>







</div>