
/*carousel*/
.car-img{
  width:  1108px;
  max-width:1108px;
  height:400px;
  max-height:400px;
}
.carousel-indicators li{
    height:12px;
    width:12px;
    border-radius:50%;
    background-color: rgb(54, 77, 151)
  
}
.carousel-indicators li.active{
    opacity:.9;
 
}
.bg-news-header{
    background-image:linear-gradient( to bottom, rgba(0, 0, 0, 0) 0%,  rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1.4) 100% );
   }
/*.child{
    position: absolute;
    bottom:0px;
      right:0px;
      left:0px;
}*/
/*over img*/

.child-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.over-img{
    color: white;
    font-weight: 600;
    font-size: larger;
    text-align: right;
}


/*font*/
/*link-title*/
.link-title{
    color:rgb(60,141,214);
    font-weight: 700;
    font-size: 1.2rem;
}

  .news-header:hover,.new-ls-col:hover ,.news-title:hover,.link-title:hover ,.new-font:hover{
    text-decoration:underline
   }
   .link-title-nounder:hover{
    text-decoration: none;
    }

   .over-img-title{
    font-size: 1.2rem;
    font-weight: 700;
   }
   .over-img-s{
       font-size:1rem;
       font-weight:500;
   }
   .news-time{
    color:gray;
    font-size:x-small
}
/*time part*/
.fa-time{
    margin:0px .2rem;

}
/*right-side-img*/
.main-s-img{
    float:right;
    margin-left:8px;
    height:180px;
    width:250px;
    max-height:180px;
    max-width:250px;
}
.child-upper-right{
    position: absolute;
    top: 8px;
    right: 16px;
}

.news-p{
      height:180px;
      max-height:180px;
      text-align:right;
      margin-right:70px;
      overflow: hidden;
      margin:7px 10px 22px;
}
/*news-details*/


.col-header{
    text-align:end;
    margin-bottom:10px;
}
   
.news-header{
          color:#f8f9fa;
          padding:9px ;
          text-align: right;
          width: -webkit-fill-available;
          
          height: 20%;
          max-height: 20%;
          overflow: hidden;
          text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      }
   

.news-header:hover{
    text-decoration:underline;
     color:rgb(60,141,214);
}
.ls-img{
    float:right;
    margin-left:8px;
    height:80px;
    width:70px;
    max-height:80px;
    max-width:70px;
}
.new-ls-col{
  
   
    height:68px;
    margin-right:70px;
    max-height:68px;
   text-align: right;
   overflow: hidden;

    

}
.fa-time{
    margin:0px .2rem;

}

/*responsive*/
@media screen and (max-width:576px) { 
    .resm-0{
        margin-left:-15px;
        margin-right:-15px;
        }
       .main-s-img{
           height:150px;
           width:120px;
           max-height:150px;
           max-width:120px;
       }
    .col-sm-12{
        padding-left:0px;
        padding-right:0px;
    }
    }
    @media screen and (max-width:768px){
.news-p{
    height:168px;
    max-height:168px;

}
.main-s-img{
    height:168px;
    max-height:168px;
}
    }