<div class="container p-0 bg-g">

    <app-header></app-header>
    <!--div for spinner-->
    <!--
    <div class="text-center spinner-space" *ngIf="!isLoadRNews||!isLoadCategory||!isLoadCat">

        <div class="spinner-grow text-primary"></div>
        <div class="spinner-grow text-primary"></div>
        <div class="spinner-grow text-primary"></div>
    </div>-->

    <app-navbar (isLoadCatEmitter)="isLoadCat=$event"></app-navbar>

    <div class="row">
        <div class="space-10"></div>
    </div>


    <!--div for all body-->
    <!-- stop spinner  <div *ngIf="isLoadRNews&&isLoadCategory&&isLoadCat">-->
    <div class="bg-w">
        <div class="row ">
            <div class="col-sm-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="x"
                            *ngFor="let obj of arrNews|slice:0:3;let i = index; let isFirst = first"
                            [ngClass]="{'active':isFirst}" class="active"></li>
                        <!-- <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>

                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li> -->
                    </ol>
                    <div class="carousel-inner">

                        <div class="carousel-item parent active " data-interval="3000"
                            *ngFor="let obj of arrNews|slice:0:3; let isFirst = first" [ngClass]="{'active':isFirst}">

                            <a (click)="getNewsDetails(obj['nid'])">



                                <img src="{{MediaUrl}}{{obj['news_image']}}" class="d-block car-img w-100" alt="...">
                                <!--title with black bg as home page  <div class="news-header bg-news-header child">
                                        {{obj['news_title']}}
                                    </div>-->
                                <div class="child-center ">
                                    <div class="over-img-bg mx-auto over-img-title">
                                        <p class="mb-0">{{category['category_name']}}</p>
                                    </div>
                                    <div class="news-header ">
                                        <p> {{obj['news_title']}}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="space-10"></div>
    </div>

    <div class="row d-flex flex-row-reverse">
        <div class="col-sm-9">
            <div class="bg-w ">
                <!--
                    <div class="col-header">
                     <a class="link-title"><p class=" new-ls-col pt-0 ">{{category['category_name']}}</p></a>
                        <hr>
                    </div>-->

                <div class="side-cont mb-3" *ngFor="let obj of arrNews|slice:3:10">
                    <div class="parent">
                        <a (click)="getNewsDetails(obj['nid'])">
                            <img src="{{MediaUrl}}{{obj['news_image']}}" alt="news" class="main-s-img">
                        </a>
                        <div class="child-upper-right">
                            <div class="over-img-bg over-img-s">
                                <p class="mb-0">{{category['category_name']}} </p>
                              
                            </div>
                        </div>
                    </div>

                    <a (click)="getNewsDetails(obj['nid'])">
                        <div class="news-p">
                            <p class="new-font  pt-0 "> {{obj['news_title']}} </p>
                            <p class="news-time"> {{obj['news_date']}}
                                <i class="fa fa-time fa-calendar" aria-hidden="true"></i>
                            </p>
                            <p class="news-details " [innerHTML]="obj['news_description']"> </p>
                            <a (click)="getNewsDetails(obj['nid'])">اقرا المزيد </a>
                        </div>
                    </a>
                </div>
            </div>
        </div>
     
        <div class="col-sm-3 2">
            <div class="side-cont j-c-c">
                <img src="assets/img/ads.jpg" class="ads-img" alt="ads">
            </div>

            <div class="row">
                <div class="space-10"></div>
            </div>

            <div class="bg-w ">
                <div class="col-header link-title link-title-nounder">
               
                        <p>اخر الاخبار</p>
                   
                    <hr>
                </div>

                <div class="side-cont mb-3" *ngFor="let objNew of arrRecentNews">
                    <a (click)="getNewsDetails(objNew['nid'])">
                        <img src="{{MediaUrl}}{{objNew['news_image']}}" alt="news" class="ls-img">
                    </a>
                    <a (click)="getNewsDetails(objNew['nid'])">
                        <div>
                            <p class=" new-ls-col new-font  pt-0 "> {{objNew['news_title']}}
                            </p>
                            <hr class="mt-4">
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="space-10"></div>
    </div>
    <app-footer></app-footer>
    <!--end of ngif  </div>-->

</div>