<nav class="navbar navbar-expand-lg px-0 navbar-dark p-0">
  
<button class="navbar-toggler ml-3" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
  <span class="navbar-toggler-icon"></span>
</button>
<a class="navbar-brand  ml-xs-0 p-xs-0 py-3" href="#"><img src="assets/img/qalb-logo.jpeg" alt="tt"
  class="	mob-logo "></a>
  <div class="collapse navbar-collapse py-0" id="collapsibleNavbar">
    <ul class="navbar-nav mx-auto res-nav">
      <li class="nav-item" >
        <a class="nav-link" routerLink="" routerLinkActive="active-link"  [routerLinkActiveOptions]="{exact:
          true}">
          الرئيسية
        </a>
      </li>
      <!-- <li class="nav-item " *ngFor="let obj of arrCategories">
        <a class="nav-link cat-link" routerLink="/category/{{obj['cid']}}"  routerLinkActive="active-link">
          {{obj['category_name']}}
        </a>
      </li> -->
      <li class="nav-item">
       
            <a class="nav-link cat-link" routerLink="/category/5" routerLinkActive="active-link">
            الأخبار الرياضية
            </a>
       
        </li>
        <li class="nav-item">
        <a class="nav-link cat-link" routerLink="/category/9" routerLinkActive="active-link" >
          اقتصاد و اعمال 
        </a>
      </li>
        <li class="nav-item">
        <a class="nav-link cat-link" routerLink="/category/8" routerLinkActive="active-link" >
          أخبار العالم 
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link cat-link" routerLink="/category/7" routerLinkActive="active-link" >
        في مثل هذا اليوم
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link cat-link" routerLink="/category/6" routerLinkActive="active-link" >
             تعلم معنا
            </a>
          </li>
      <li class="nav-item">
          <a class="nav-link cat-link" routerLink="/category/4" routerLinkActive="active-link">
           علوم وتكنولوجيا      
              </a>
        </li>
        <li class="nav-item">
            <a class="nav-link cat-link" routerLink="/category/3" routerLinkActive="active-link">
             الصحةوالجمال
            </a>
          </li>
          
            <li class="nav-item">
                <a class="nav-link cat-link" routerLink="/category/2" routerLinkActive="active-link" >
               عجائب وغرائب
                </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link cat-link" routerLink="/category/1" routerLinkActive="active-link" >
                   أشهى الاكلات
                  </a>
                </li> 
                 
    </ul>
  </div>
</nav>