nav {
    background-color:rgb(60,141,214);
  
}
nav .navbar-collapse ul li a{
    color: #f8f9fa;
    font-weight: 600;
    transition: ease .3;
    
   }
   nav .navbar-collapse ul li a:hover{
    color:rgb(220,52,67)
   }


.cat-link{
    border-right:#f8f9fa 1px solid;
}

/*
.cat-link::after{
 

  content: "";
  height: 18px;
  width: 1px;
  margin-bottom:-5px;
   -webkit-border-radius: 9px;
  border-radius: 9px;
  display: inline-block;
  background-color:#f8f9fa;
  margin-left:.5rem;
  margin-right:.5rem;
}*/

.navbar-expand-lg .navbar-nav .nav-link{
  
   padding:0px 10px;
}
a .nav-link{
    padding:0px
}
/*logo on mobile size only*/
.mob-logo{
    width: 220px;
    height: 85px;
    max-width:220px;
    max-height:85px;
    display:none;
}

/*.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .7rem;
    padding-left:0px;
}*/
   /*collapse navbar*/
 /*.navbar-dark  .navbar-toggler{
       margin:10px auto;
     

   }*/
   .navbar-dark .navbar-toggler{
         color: #f8f9fa;
   }
.navbar-dark .navbar-nav  .active-link{
 color:rgb(220,52,67) !important;
    
   
}
 



/*.navbar-light .navbar-nav .nav-item{
      padding: 0px;
      margin:0px 5px;
      padding:0px
}*/
.nav-link{
   
        display: block;
        padding:0px;
        margin:0.5rem 0rem
       
}
.res-nav{
    flex-direction: row-reverse;
}

@media screen and (max-width:576px){
    .show-xs{
      display:none;
   
    }
    .cat-link{
        border-color:transparent
    }
    /*
 .res-nav{
     flex-direction: column;
     text-align: center;
    
 }
*/
 nav .navbar-collapse ul li a{
 margin-right: 33%;
 margin-left: 33%;
 padding-bottom: 6px;
}
/*
.cat-link::after{
    display:none
}*/

}
@media screen and (max-width:768px){

    .res-nav{
        flex-direction: column;
        text-align: center;
       
    }
    .show-xs{
        display:none;
     
      }
      .cat-link{
        border-color:transparent
    }
    .mob-logo{
        display:block
    }
}

@media screen and (max-width:1024px){

    .navbar-expand-lg .navbar-nav .nav-link{
  
        padding:0px 2px;
     }
}
