/*first news*/
.first-img{
    height:330px;
    max-height:330px;
    width:100%;
}
.new-ls-col{
    height:68px;
    margin-right:70px;
    max-height:68px;
   text-align: right;
   overflow: hidden;
}
.over-img{
    color:rgb(54, 77, 151);
    font-weight: 600;
    font-size: large;
    text-align: right;
}
.over-img-title{
    font-size:medium;
    background-color: red;
    text-align: center;
    padding: 1% 2%;
    color: whitesmoke;
    width: fit-content;
   


}
/*right-side-img*/
.main-s-img{
    float:right;
    margin-left:8px;
    height:180px;
    width:250px;
    max-height:180px;
    max-width:250px;
}
.main-s-title{
    font-size:1.1rem;
   color:rgb(54, 77, 151);
   font-weight: 700;
 

}
.news-p{
      height:180px;
      max-height:180px;
      text-align:right;
      margin-right:70px;
}
/*news-details*/
.news-details{
    font-weight:500;
    font-size:.9rem;
    color:black;
}

.col-header{
    text-align:end;
    margin-bottom:10px;
}
.link-title{
    color:rgb(60,141,214);
    font-weight: 700;
    font-size: 1.2rem;
}
.link-title:hover, .new-ls-col:hover{
    text-decoration:underline
}
.link-title-nounder:hover{
    text-decoration: none;
    }
.news-header{
    background-color: rgba(54, 77, 151,.3);
    color:#f8f9fa;
    font-weight:500;
    padding:9px ;
    text-align: right;
    width: -webkit-fill-available;
    height: 18%;
}
.news-header:hover{
    text-decoration:underline
}
.ls-img{
    float:right;
    margin-left:8px;
    height:80px;
    width:70px;
    max-height:80px;
    max-width:70px;
}

.b-img{
  
    margin-left:8px;
    height:80px;
    width:70px;
    max-height:80px;
    max-width:70px;
}
.space-of-news{
    height:689px;
    max-height:689;

}
.news-details{
    font-weight:500;
    font-size:.9rem;
    color:black;
    text-align:right;
}
.sug{
    float:right;
    text-align:center;
}
.sug-img{
  
    margin-left: 8px;
    height:160px;
    width: 250px;
    max-height: 160px;
    max-width: 250px;
}
.sug-p{
    width: 240px;
    max-width:240px
}
.prefer-cont{
   float:right;
   text-align:center;

}
.social{
    text-align: right;
}
.social .fa-facebook-official{
    color: #4267B2;
    
}
.social .fa-google-plus-square{
    color:    #DB4437;;
}
.social .fa-twitter-square{
   color: #1DA1F2;
}
.social{
    margin-bottom:auto;


}
.social i {
    margin:5px;
    font-size:1.5rem;
}
/*add comment*/
.text-comment{
    text-align:end;
}
.textarea{
    text-align: right;
}
#comment-area-text{
    color: #262626;
    -ms-flex: 1;
    flex: 1;
    padding: 1em;
    min-height: 100px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #e7e7e7;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
  
    resize:none;
    text-align: right;

}
@media screen and (max-width:576px){ 

}
