<div class="container bg-g p-0">

    <app-header></app-header>
    <!--div for spinner-->
    <!--
         <div class="text-center spinner-space" *ngIf="!isLoadRNews||!isLoadNews||!isLoadCat">

            <div class="spinner-grow text-primary"></div>
            <div class="spinner-grow text-primary"></div>
            <div class="spinner-grow text-primary"></div>
        </div>-->

    <app-navbar (isLoadCatEmitter)="isLoadCat=$event"></app-navbar>

    <div class="row">
        <div class="space-10"></div>
    </div>


    <!--div to wrap body-->
    <!--  <div *ngIf="isLoadRNews&&isLoadNews&&isLoadCat">-->
    <div class="row  d-flex flex-row-reverse">
        <div class="col-sm-9">
            <div class="bg-w">
                <div class=" over-img">
                    <p class="col-header link-title link-title-nounder mb-0">{{news['news_title']}} </p>
                    <p class=" over-img-bg">{{news['category_name']}}</p>
                </div>

                <img src="{{MediaUrl}}{{news['news_image']}}" alt="main-img" class="first-img mb-3">

                <p class="space-of-news news-details mx-3" [innerHTML]="news['news_description']">



                    <div class="social">
                        <!-- <fb-like url="http://qhadath.com/qhadath/seo_newsapp/index.php?id={{news['nid']}}"></fb-like> -->

                        <a
                            href="https://www.facebook.com/sharer/sharer.php?u=http://qhadath.com/qhadath/seo_newsapp/index.php?id={{news['nid']}}"><i
                                class="fa fa-facebook-official" aria-hidden="true"></i></a>
                        <a
                            href="https://plus.google.com/share?url=http://qhadath.com/qhadath/seo_newsapp/index.php?id={{news['nid']}}">  <i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
                        <a
                            href="https://twitter.com/home?status=http://qhadath.com/qhadath/seo_newsapp/index.php?id={{news['nid']}} "><i
                                class="fa fa-twitter-square" aria-hidden="true"></i></a>
                    </div>
            </div>
            <div class="row">
                <div class="space-10"></div>
            </div>
         
            <div class="bg-w">
                <div class="col-header link-title link-title-nounder">
                    اضف تعليق
                </div>
                <div class="text-comment">
                    <label for="comment-area-text"></label>
                    <textarea id="comment-area-text"></textarea>
                </div>
                <a class="btn cat-more btn-primary" routerLink="/category" role="button">نشر</a>
            </div>
            <div class="row">
                <div class="space-10"></div>
            </div>
    
       
       
       
       
        </div>
   
    <div class="col-sm-3 ">
        <div class="side-cont j-c-c">
            <img src="assets/img/ads.jpg" class="ads-img" alt="ads">
        </div>

        <div class="row">
            <div class="space-10"></div>
        </div>

        <div class="bg-w ">
            <div class="col-header link-title link-title-nounder">
                <p>اخر الاخبار</p>
                <hr>
            </div>

            <div class="side-cont mb-3" *ngFor="let obj of arrRecentNews">
                <a (click)="getNewsDetails(obj['nid'])">
                    <img src="{{MediaUrl}}{{obj['news_image']}}" alt="news" class="ls-img">
                </a>
                <a (click)="getNewsDetails(obj['nid'])">
                    <div>
                        <p class=" new-ls-col new-font  pt-0"> {{obj['news_title']}}
                        </p>
                        <hr class="mt-4">
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>


<div class="row">
    <div class="col-sm-12">
             <!--prefered part-->
             <div class="bg-w clearfix">
                <div class="col-header link-title link-title-nounder">
                    <p>قد يعجبك </p>
                    <hr>
                </div> 
            
           
                <div class="prefer-cont mx-2" *ngFor="let obj of arrPreferredNews|slice:0:4">
                     <a><img src="{{MediaUrl}}{{obj['news_image']}}"alt=".." class="sug-img mb-2"></a>
                     <a (click)="getNewsDetails(obj['nid'])">
                     <p class=" new-ls-col new-font mx-auto sug-p pt-0">{{obj['news_title']}}
                    </p>
                    </a>
                </div>
                <!-- <div class="prefer-cont mx-2">
                    <img src="assets/img/green.jpg"alt=".." class="sug-img">
               <p class=" new-ls-col new-font mx-auto pt-0"> عنوان الخبر
               </p>
               </div>
               <div class="prefer-cont mx-2">
                <img src="assets/img/green.jpg"alt=".." class="sug-img">
           <p class=" new-ls-col new-font mx-auto pt-0"> عنوان الخبر
           </p>
           </div>
           <div class="prefer-cont mx-2">
            <img src="assets/img/green.jpg"alt=".." class="sug-img">
       <p class=" new-ls-col new-font mx-auto pt-0"> عنوان الخبر
       </p>
       </div> -->
        
            </div>
       
    </div>
</div>
<div class="row">
    <div class="space-10"></div>
</div>

<app-footer></app-footer>

<!-- </div>-->
</div>