@font-face {
    font-family: myFont;
    src: url('../src/assets/font/cairo-regular.ttf');
  }
  *{
      font-family:'myFont'
  }
  
  /*font*/
  .new-font{
    font-weight:600;
    color:black;
    font-size:95%;
   }
   .news-details{
    font-weight:500;
    font-size:.9rem;
    color:gray;
    margin-bottom: 1.69rem;
    height: 85px;
    overflow: hidden;
    display: block;



}
   .new-font:hover{
    color:rgb(60,141,214);
}
  /*back ground */
  .bg-g{
    background-color: rgba(54, 77, 151,.1)
 }
  
  /*white-backgroung*/
  .bg-w{
    background-color: white;
    border-radius:4px;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
    border:1px solid rgba(0,0,0,0.2);
    padding:15px;
}
/*spaces*/
.space-10{
    display:block;
    height:20px;
}
/*red bg*/
.over-img-bg{
  
    color: #f8f9fa;
    background-color:rgb(220,52,67) ;
    text-align: center;
    padding: 4px 11px 9px;
    width: fit-content;
    font-family: myFont;
   
  }
.parent{
    position:relative;
}
/*spinner*/
.spinner-grow{
    animation: spinner-grow 1s linear infinite;
  
}
.spinner-space{
   padding-bottom: 100%;
    display:block;
}
a {
    cursor: pointer;
}
/*justify content center*/
.j-c-c{
    text-align: center;
}
/*responsive*/
@media screen and (max-width:576px){ 
       .bg-w {
           margin-top:10px;
             margin-bottom:10px ;
                    }

                    .row{
                        margin-left: 0px;
                        margin-right: 0px;
                  
                    }            
    .over-img-bg{
        padding:2px 1px
    }

                }

    /*responsive for ipad*/
    @media screen and (max-width:768px){
        .ads-img{
            margin-top:10px;
            margin-bottom:10px;
            width:150px;
            height:150px;
           

        }
    }