


/*opening part*/
/*.opening-img{
    height:530px;
    width:96%;
    max-height: 540px;
    overflow: hidden;
}*/
.side-img{
    height:170px;
    width:164px;
    max-height:170px;
    max-width:164px;
  /*  width:30%;*/
    max-height: 170px;
    overflow: hidden;
}

.child{
    position: absolute;
    bottom:0px;
      right:0px;
      left:0px;
}
/*.news-header-opening{
    right:4%
}*/
/*carousel*/
.car-img{
    width: 918 px;
    max-width:918px;
    height:545px;
    max-height:530px;
}
.carousel-indicators li{
    height:12px;
    width:12px;
    border-radius:50%;
    background-color: rgb(54, 77, 151)
  
}
.carousel-indicators li.active{
    opacity:.9;
 
}
.bg-news-header{
    background-image:linear-gradient( to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1.4) 100% );
}
.news-header{
  /*  background-color: rgba(54, 77, 151,.3);*/
   color:#f8f9fa;
    padding:9px ;
    text-align: right;
    width: -webkit-fill-available;
    height: 20%;
    max-height: 20%;
    overflow: hidden;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.news-side{
   width:164px;
  
   
}
.news-small{
    font-size:small;
    height:30%;
    max-height:30%;
}
.side-cont{
    margin-bottom:10px
}
.news-header:hover,.new-ls-col:hover ,.news-title:hover,.link-title:hover{
    text-decoration:underline
}
/*link-title*/
.link-title{
    color:rgb(60,141,214);
    font-weight: 700;
    font-size: 1.2rem;
}
.link-title:hover{
    color:rgb(60,141,214) !important;
}
.link-title-nounder:hover{
text-decoration: none;
}
.j-c-r{
    text-align: right;
    padding:0px
}
.space-10{
    display:block;
    height:20px;
}
/*news bar*/
.car-title{
    font-weight:600;
    color:rgb(60,141,214);
    vertical-align: middle;
}
.news-car{
    font-weight:400;
   
}
/*2nd part*/
/*.new-rs-col a {
    color:rgb(54, 77, 151);
    background-color:transparent;

}*/

.new-ls-col{
   
    height:68px;
    margin-right:70px;
    max-height:68px;
   text-align: right;
   overflow: hidden;
}

/*.fr:nth-of-type(odd){

}*/
.ls-img{
    float:right;
    margin-left:8px;
    height:80px;
    width:70px;
    max-height:80px;
    max-width:70px;
}
/*...*/
.t-a-l{
    text-align: left;
}


.col-header{
    text-align:end;
    margin-bottom:10px;
}
/*search bar*/
.btn-outline-secondary{
color:rgb(60,141,214);
border-color:#ced4da;
margin-left:10px;

}

.form-control{
    text-align:right;
}
.input-group>.form-control:not(:first-child){
    border-radius:0px 20px 20px 0px;
}
.input-group>.input-group-prepend>.btn{
    border-radius:100% 0px 0px 100%;
}

.input-group .input-group-prepend .btn:hover{

    background-color:rgb(60,141,214);
    color:white
}

/*spinner*/


/*2nd middle part*/
.news-img{
    width: 230px;
    max-width:230px;
    height:130px;
    max-height:130px;
 
}
.news-title{
    width: 230px;
    max-width:230px;
    height:60px;
    max-height:60px;
  
    text-align: right;
  
    padding:2%;
    margin-bottom:0px;
    overflow: hidden;
}
.fr{
    float:right;
    margin:0px 19px;
    text-align: -webkit-center;
}
/*.sec-main{
    margin: 0px 3%;
  
}*/

.sec-main-img{
    width:100%;
    max-width:100%;
    height:297px;
    max-height:297px;

}
.sec-main-title{
    width:100%;
    max-width:100%;
    height:57px;
    max-height:57px;
  
    text-align: right;
  
    padding:2%;
    overflow:hidden;

}
.brdr-b{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom:1rem;
    border-bottom: 1px solid rgba(0,0,0,.1);
}


/*category part*/
.cat-img{
    margin: 1rem auto;
  
    width: 91%;
    max-width:91%;
    box-sizing: content-box;
    height: 175px;
    max-height: 175px;
}  
.card-body{
    padding-top:0px
}
.card{
    width:30%;
    float:left;
    box-sizing: border-box;
}
.cat-title{
    margin:4%;
    margin-bottom:0px;
   
}
.cat-first-title {
  
    height:30px;
    max-height:30px;
    text-align: right;
    overflow: hidden;
}


.news-time{
    color:gray;
    font-size:x-small
}
.fa-time{
    margin:0px .2rem;

}
.news-cat{
    font-size: .9rem;
    width: 70%;
     margin: 0px;
 
    float: right;
}
.news-det{
    color:black;
    font-size:small;
}
.card{
   
     /*   box-shadow: 0 4px 6px 0 rgba(54, 77, 151,.2);*/
        transition: 0.2s;
        margin:1rem 0px ;
        border:1px solid rgba(0,0,0,0.2);
        box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
      
        }
.card:nth-child(3n+2){
    margin-left:5%;
    margin-right:5%;
}        
      
    /*  .card:hover {
        box-shadow: 0 8px 16px 0 rgba(54, 77, 151,.4);
      }*/
      
.cat-more{
    width:fit-content;
    margin:0px 0px 1rem 1rem;
    font-weight: 500;
    color: #fff;
}

/*responsive*/
@media screen and (max-width:576px) { 
   .col-sm-2  .side-cont {
       text-align: center;
       margin-top:10px
   }
   .hide-xs{
       display: none;
   }

   /*xs left and right-margin*/

  
    .child{
        left: 50%;
        transform: translate(-50%);
    }    
    .ads-img{
        margin-top:10px;
        margin-bottom:10px;
        width:250px;
        height:250px;
        max-width:250px;
        max-height:250px;
    }   
    /*main carsoul*/      
    .car-img{
        height:300px;
        max-height:300px;
        }
    .p-xs-0{
        padding:0px;
    }
    .carousel-indicators{
        width:8px;
        height:8px;
        bottom:-17px;
    }
    .resm-0{
        margin-left:-15px;
        margin-right:-15px;
        }
        .card{
            width:100%;
          
        }
        
        .card:nth-child(3n+2){
margin-right:0px;
margin-left:-0px;
        }
        .xs-p-15{
            padding-left:0px;
            padding-right:0px;
        }
    }

    @media screen and (max-width:1024px){
        .ads-img{
            margin-top:10px;
            margin-bottom:10px;
            width:160px;
            height:160px;
            max-width:250px;
            max-height:250px;
            
        }
       
      .side-img{
          width:120px;
      }
      .news-side{
          width:120px
      }
      .news-img{
        width: 207px;
        height: 121px;
        max-width:207px;
        max-height:121px;
         
      }
     .fr{
         margin:0px 10px;
     }
      .news-title{
          width:207px;
        
      }
      
    }

    /*responsive for ipad*/
    @media screen and (max-width:768px){
        .ads-img{
            margin-top:10px;
            margin-bottom:10px;
            width:150px;
            height:150px;
            max-width:250px;
            max-height:250px;
        }
      .side-img{
width:113px;
      }
      .news-side{
          width:113px
      }
     
      .news-img{
        width: 166px;
        height: 121px;
        max-width:166px;
        max-height:121px;
         
      }
     .fr{
         margin:0px 5px 0px 0px;
         
     }
      .news-title{
          width:166px;
        
      }
      
    }


