
    <div class="container px-0 bg-g">
        <app-header></app-header>
        <!--div for spinner-->

        <!-- <div class="text-center spinner-space">

            <div class="spinner-grow text-primary"></div>
            <div class="spinner-grow text-primary"></div>
            <div class="spinner-grow text-primary"></div>
        </div> -->
        <app-navbar (arrCategoriesEmitter)="arrCategories=$event" (isLoadCatEmitter)="isLoadCat=$event"></app-navbar>

       
        <div class="row">
            <div class="space-10"></div>
        </div>
        <!--car- news -->
    <div class="bg-w py-2">
            <div class="d-flex flex-row-reverse bd-highlight align-items-center">
    
                <!--   <div class="col-sm-6 ml-auto  j-c-r">-->
                <div class="col-sm-1 hide-xs pl-2 p-2 bd-highlight">
                 <span class="car-title "> :اخر اخبار</span>
                </div>

            <div class="col-sm-6 hide-xs p-2 bd-highlight">
                <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
                    <div class="carousel-inner j-c-r">
                        
                        <div class="carousel-item active" *ngFor="let obj of arrRecentNews; let isFirst = first"
                            [ngClass]="{'active':isFirst}">
                            <span class="news-car">{{obj['news_title']}} </span>
                        </div>
                        <!-- <div class="carousel-item">
                                <span class="new-car">تكرار مقاطع من نص لوريم وهذا ما يجعله أول مولّد </span>
                            </div>
                            <div class="carousel-item">
                                <span class="new-car">تكرار مقاطع من نص لوريم وهذا ما يجعله أول مولّد </span>
                            </div> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mr-auto d-xl-none d-lg-none  p-2 bd-highlight">
                <div class="input-group hide-search">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon1"><i
                                class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                    <input type="text" class="form-control" placeholder="بحث"
                        aria-label="Example text with button addon" aria-describedby="button-addon1">
                </div>
            </div>
        </div>
</div>
        <div class="row">
            <div class="space-10"></div>
        </div>
      
        <!--first part-->
        <div >

            <div class="bg-w">
                <div class="row d-flex  flex-row-reverse">
                    <div class="col-sm-10 ">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="i"
                                    *ngFor="let obj of arrUrgentNews|slice:0:4;let i = index; let isFirst = first"
                                    [ngClass]="{'active':isFirst}" class="active"></li>
                                <!-- <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>

                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li> -->
                        </ol>
                        <div class="carousel-inner">
                                  
                            <div class="carousel-item parent active " data-interval="3000"
                                *ngFor="let obj of arrUrgentNews|slice:0:4; let isFirst = first" [ngClass]="{'active':isFirst}">

                                <a (click)="getNewsDetails(obj['nid'])">



                                        <img src="{{MediaUrl}}{{obj['news_image']}}" class="d-block car-img w-100" alt="...">
                                    <div class="news-header bg-news-header child">
                                        {{obj['news_title']}}
                                    </div>
                                </a>
                            </div>
                            <!-- <div class="carousel-item parent" data-interval="3000">


                                <a routerLink="/category">
                                    <img src="assets/img/green738.jpg" class="d-block car-img w-100" alt="...">
                                    <div class="news-header  child">
                                        .ينما تعمل جميع مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع
                                        ينما تعمل
                                        جميع
                                        مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص لوريم وهذا ما
                                        يجعله
                                        أول
                                        مولّد
                                        نص لوريم إيبسوم حقيقي على الإنترنت
                                    </div>
                                </a>

                            </div>
                            <div class="carousel-item parent" data-interval="3000">
                                <a routerLink="/category">
                                    <img src="assets/img/green738.jpg" class="d-block car-img w-100" alt="...">
                                    <div class="news-header  child">
                                        .ينما تعمل جميع مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع
                                        ينما تعمل
                                        جميع
                                        مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص لوريم وهذا ما
                                        يجعله
                                        أول
                                        مولّد
                                        نص لوريم إيبسوم حقيقي على الإنترنت
                                    </div>
                                </a>
                            </div>
                            <div class="carousel-item parent" data-interval="3000">
                                <a routerLink="/category">
                                    <img src="assets/img/dream738.jpg" class="d-block car-img w-100" alt="...">
                                    <div class="news-header  child">
                                        .ينما تعمل جميع مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع
                                        ينما تعمل
                                        جميع
                                        مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص لوريم وهذا ما
                                        يجعله
                                        أول
                                        مولّد
                                        نص لوريم إيبسوم حقيقي على الإنترنت
                                    </div>
                                </a>


                            </div> -->

                        </div>
                    </div>
                </div>
                <!--
                <div class="col-sm-6 pr-0 ">
                                          <div class="parent ">
                        <a routerLink="/category">
                            <img src="assets/img/news530.jpg" alt="news" class="opening-img">
                            <div class="news-header news-header-opening child">
                                .ينما تعمل جميع مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع ينما تعمل
                                جميع
                                مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص لوريم وهذا ما يجعله
                                أول
                                مولّد
                                نص لوريم إيبسوم حقيقي على الإنترنت
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-2 j-c-r">
                    <div class="parent side-cont">
                        <a routerLink="/category">
                            <img src="assets/img/newssample.jpg" alt="news" class="side-img">
                            <div class="news-header news-side child">
                                .ينما تعمل جميع مولّدات نصوص لوريم
                            </div>
                        </a>
                    </div>
                    <div class="parent side-cont">
                        <a routerLink="/category">
                            <img src="assets/img/newssample.jpg" alt="news" class="side-img">
                            <div class="news-header news-side child">
                                .ينما تعمل جميع مولّدات نصوص لوريم إيبسوم
                            </div>
                        </a>
                    </div>
                    <div class="parent side-cont">
                        <a routerLink="/category">
                            <img src="assets/img/newssample.jpg" alt="news" class="side-img">
                            <div class="news-header news-side child">
                                .ينما تعمل جميع مولّدات نصوص لوريم
                            </div>
                        </a>
                    </div>
                </div>

            
                <div class="col-sm-2 j-c-r">
                    <div class="parent side-cont">
                        <a routerLink="/category">
                            <img src="assets/img/newssample.jpg" alt="news" class="side-img">
                            <div class="news-header news-small news-side child">
                                .ينما تعمل جميع مولّدات نصوص لوريم
                            </div>
                        </a>
                    </div>
                    <div class="parent side-cont">
                        <a routerLink="/category">
                            <img src="assets/img/newssample.jpg" alt="news" class="side-img">
                            <div class="news-header news-small news-side child">
                                .ينما تعمل جميع مولّدات نصوص لوريم إيبسوم
                            </div>
                        </a>
                    </div>

                    <div class="parent side-cont ">
                        <a routerLink="/category">
                            <img src="assets/img/newssample.jpg" alt="news" class="side-img">
                            <div class="news-header news-small news-side child">
                                .ينما تعمل جميع مولّدات نصوص لوريم
                            </div>
                        </a>
                    </div>
                </div>
            -->

                    <div class="col-sm-2 hide-xs ">
                        <div class="parent  side-cont" *ngFor="let obj of arrRecentNews |slice:0:3;">
                            <a (click)="getNewsDetails(obj['nid'])">
                                <img src="{{MediaUrl}}{{obj['news_image']}}" alt="news" class="smll-res side-img">
                                <div class="news-header bg-news-header news-small news-side child">
                                    {{obj['news_title']}}
                                </div>
                            </a>
                        </div>


                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="space-10"></div>
        </div>

        <!--2nd part-->

        <div class="row d-flex flex-row-reverse">
            <div class="col-sm-3  ">
                <div class=" j-c-c ">
                    <img src="assets/img/ads.jpg" class="ads-img" alt="ads">
                </div>

                <div class="row">
                    <div class="space-10"></div>
                </div>
                <!--
                <div class="bg-w py-2">
                    <div class="mr-2 col-header">
                        <h4>اخر الاخبار</h4>
                        <hr>
                    </div>
                    <div>
                        <div class="side-cont">
                            <a routerLink="/category">
                                <img src="assets/img/sample240.jpg" alt="news">
                            </a>
                            <a routerLink="/category">
                                <div>
                                    <p class="new-rs-col news-header"> تكرار مقاطع من نص لوريم وهذا ما يجعله أول مولّد
                                        نص لوريم إيبسوم حقيقي على الإنترنت
                                    </p>
                                </div>
                            </a>
                        </div>

                        <div class="side-cont">
                            <a routerLink="/category">
                                <img src="assets/img/sample240.jpg" alt="news">
                            </a>
                            <a routerLink="/category">
                                <div>
                                    <p class="new-rs-col new-ls-col news-header"> تكرار مقاطع من نص لوريم وهذا ما يجعله
                                        أول مولّد
                                        نص لوريم إيبسوم حقيقي على الإنترنت
                                    </p>
                                </div>
                            </a>
                        </div>

                        <div class="side-cont">
                            <a routerLink="/category">
                                <img src="assets/img/sample240.jpg" alt="news">
                            </a>
                            <a routerLink="/category">
                                <div>
                                    <p class="new-rs-col new-ls-col news-header"> تكرار مقاطع من نص لوريم وهذا ما يجعله
                                        أول مولّد
                                        نص لوريم إيبسوم حقيقي على الإنترنت
                                    </p>
                                </div>
                            </a>
                        </div>

                        <div class="side-cont">
                            <a routerLink="/category">
                                <img src="assets/img/sample240.jpg" alt="news">
                            </a>
                            <a routerLink="/category">
                                <div>
                                    <p class="new-rs-col new-ls-col news-header"> تكرار مقاطع من نص لوريم وهذا ما يجعله
                                        أول مولّد
                                        نص لوريم إيبسوم حقيقي على الإنترنت
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            -->


                <div class="bg-w resm-0">
                    <div class="col-header link-title link-title-nounder">
                   <p>اخر الاخبار</p>   
                        <hr>
                    </div>

                    <div class="side-cont mb-5" *ngFor="let objRecent of arrRecentNews">



                            <a (click)="getNewsDetails(objRecent['nid'])">
                                <img src="{{MediaUrl}}{{objRecent['news_image']}}" alt="news" class="ls-img">
                            </a>


                        <a (click)="getNewsDetails(objRecent['nid'])">

                            <div>
                                <p class=" new-ls-col new-font pt-0 "> {{ objRecent['news_title'] | slice:0:50}}
                                </p>
                            </div>
                        </a>
                    </div>

                    <!-- <div class="side-cont mb-5">

                        <a routerLink="/category">
                            <img src="assets/img/news115.jpg" alt="news" class="ls-img">
                        </a>
                        <a routerLink="/category">
                            <p class="new-rs-col new-ls-col pt-0 news-header"> تكرار مقاطع من يم
                            </p>
                        </a>
                    </div>

                    <div class="side-cont mb-4">
                        <a routerLink="/category">
                            <img src="assets/img/news115.jpg" alt="news" class="ls-img">
                        </a>
                        <a routerLink="/category">
                            <div>
                                <p class="new-rs-col new-ls-col pt-0 news-header"> تكرار مقاطع من نص لوريم
                                </p>
                            </div>
                        </a>
                    </div>

                    <div class="side-cont mb-4">
                        <a routerLink="/category">
                            <img src="assets/img/news115.jpg" alt="news" class="ls-img">
                        </a>
                        <a routerLink="/category">
                            <div>
                                <p class="new-rs-col new-ls-col pt-0 news-header"> تكرار مقاطع من نص لوريم
                                </p>
                            </div>
                        </a>
                    </div>

                    <div class="side-cont mb-4">
                        <a routerLink="/category">
                            <img src="assets/img/news115.jpg" alt="news" class="ls-img">
                        </a>
                        <a routerLink="/category">
                            <div>
                                <p class="new-rs-col new-ls-col pt-0 news-header"> تكرار مقاطع من نص لوريم
                                </p>
                            </div>
                        </a>
                    </div>

                    <div class="side-cont mb-5">
                        <a routerLink="/category">
                            <img src="assets/img/news115.jpg" alt="news" class="ls-img">
                        </a>
                        <a routerLink="/category">
                            <div>
                                <p class="new-rs-col new-ls-col pt-0 news-header"> تكرار مقاطع من نص لوريم
                                </p>
                            </div>
                        </a>
                    </div>

                    <div class="side-cont mb-5">
                        <a routerLink="/category">
                            <img src="assets/img/news115.jpg" alt="news" class="ls-img">
                        </a>
                        <a routerLink="/category">
                            <div>
                                <p class="new-rs-col new-ls-col pt-0 news-header"> تكرار مقاطع من نص لوريم
                                </p>
                            </div>
                        </a>
                    </div>

                    <div class="side-cont mb-5">
                        <a routerLink="/category">
                            <img src="assets/img/news115.jpg" alt="news" class="ls-img">
                        </a>
                        <a routerLink="/category">
                            <div>
                                <p class="new-rs-col new-ls-col pt-0 news-header"> تكرار مقاطع من نص لوريم
                                </p>
                            </div>
                        </a>
                    </div>

                    <div class="side-cont mb-5">
                        <a routerLink="/category">
                            <img src="assets/img/news115.jpg" alt="news" class="ls-img">
                        </a>
                        <a routerLink="/category">
                            <div>
                                <p class="new-rs-col new-ls-col pt-0 news-header"> تكرار مقاطع من نص لوريم
                                </p>
                            </div>
                        </a>
                    </div>

                    <div class="side-cont mb-5">
                        <a routerLink="/category">
                            <img src="assets/img/news115.jpg" alt="news" class="ls-img">
                        </a>
                        <a routerLink="/category">
                            <div>
                                <p class="new-rs-col new-ls-col pt-0 news-header"> تكرار مقاطع من نص لوريم
                                </p>
                            </div>
                        </a>
                    </div>

                    <div class="side-cont mb-5">
                        <a routerLink="/category">
                            <img src="assets/img/news115.jpg" alt="news" class="ls-img">
                        </a>
                        <a routerLink="/category">
                            <div>
                                <p class="new-rs-col new-ls-col pt-0 news-header"> تكرار مقاطع من نص لوريم
                                </p>
                            </div>
                        </a>
                    </div>

                    <div class="side-cont mb-5">
                        <a routerLink="/category">
                            <img src="assets/img/news115.jpg" alt="news" class="ls-img">
                        </a>
                        <a routerLink="/category">
                            <div>
                                <p class="new-rs-col new-ls-col pt-0 news-header"> تكرار مقاطع من نص لوريم
                                </p>
                            </div>
                        </a>
                    </div>

                    <div class="side-cont mb-5">
                        <a routerLink="/category">
                            <img src="assets/img/news115.jpg" alt="news" class="ls-img">
                        </a>
                        <a routerLink="/category">
                            <div>
                                <p class="new-rs-col new-ls-col pt-0 news-header"> تكرار مقاطع من نص لوريم
                                </p>
                            </div>
                        </a>
                    </div>

                    <div class="side-cont mb-5">
                        <a routerLink="/category">
                            <img src="assets/img/news115.jpg" alt="news" class="ls-img">
                        </a>
                        <a routerLink="/category">
                            <div>
                                <p class="new-rs-col new-ls-col pt-0 news-header"> تكرار مقاطع من نص لوريم
                                </p>
                            </div>
                        </a>
                    </div>

                    <div class="side-cont mb-5">
                        <a routerLink="/category">
                            <img src="assets/img/news115.jpg" alt="news" class="ls-img">
                        </a>
                        <a routerLink="/category">
                            <div>
                                <p class="new-rs-col new-ls-col pt-0 news-header"> تكرار مقاطع من نص لوريم وهذا ما يجعله
                                </p>
                            </div>
                        </a>
                    </div> -->
                    <a class="btn cat-more btn-primary" routerLink="/category" role="button">المزيد</a>
                </div>

                </div> 
                <div class="col-sm-6 xs-lrm   bg-w ">
                    
                    <div class="sec-main j-c-c" *ngFor="let objCat of arrCategories;  let i=index">
                        <div *ngIf="objCat['category_name']=='الأخبار الرياضية'">
                        <div class="col-header " >
                        <a class="link-title" routerLink="/category/{{objCat['cid']}}"> <p class="brdr-b">{{objCat['category_name']}}</p></a>
                        </div>
                        <a routerLink="category">
                            <img src="{{MediaUrl}}{{objCat['news'][0]['news_image']}}" class="sec-main-img" alt="news">
                        </a>
                        <a routerLink="category">
                            <p class="sec-main-title new-font">{{objCat['news'][0]['news_title']}}</p>
                        </a>
                    </div>
                    </div>
                    
                    
                    <div class="sec-main j-c-r fr" *ngFor="let objCat of arrCategories;  let i=index">
                            <div *ngIf="objCat['category_name']!=='الأخبار الرياضية'">
                        <div class="col-header" >
                            <a class="link-title" routerLink="/category/{{objCat['cid']}}">  <p class="brdr-b">{{objCat['category_name']}}</p></a>
                        </div>
                        <span *ngFor="let obj of objCat['news'] | slice:1:2 ">
                        <a (click)="getNewsDetails(obj['nid'])">
                            <img src="{{MediaUrl}}{{obj['news_image']}}" class="news-img" alt="news">
                        </a>
                        <a (click)="getNewsDetails(obj['nid'])">

                            <p class="news-title new-font">{{ obj['news_title']}}</p>
                        </a>
                        </span>
                        </div>
                    
                    


                <!-- <div class="sec-main fr">
                    <div class="col-header">
                        <h4 class="brdr-b">أخبار العالم</h4>
                    </div>
                    <a routerLink="category">
                        <img src="assets/img/sample240.jpg" class="news-img" alt="news">
                    </a>
                    <a routerLink="category">
                        <p class="new-rs-col  news-img  news-header"> تكرار مقاطع من نص لوريم وهذا ما يجعله أول
                            مولّد
                            نص لوريم إيبسوم حقيقي على الإنترنت.</p>
                    </a>
                </div>

                <div class="sec-main fr">
                    <div class="col-header">
                        <h4 class="brdr-b">اشهى الاكلات</h4>
                    </div>
                    <a routerLink="category">
                        <img src="assets/img/sample240.jpg" class="news-img" alt="news">
                    </a>
                    <a routerLink="category">
                        <p class="new-rs-col  news-img  news-header"> تكرار مقاطع من نص لوريم وهذا ما يجعله أول
                            مولّد
                            نص لوريم إيبسوم حقيقي على الإنترنت.</p>
                    </a>
                </div>

                <div class="sec-main fr">
                    <div class="col-header">
                        <h4 class="brdr-b">الصحه و الجمال</h4>
                    </div>
                    <a routerLink="category">
                        <img src="assets/img/sample240.jpg" class="news-img" alt="news">
                    </a>
                    <a routerLink="category">
                        <p class="new-rs-col  news-img  news-header"> تكرار مقاطع من نص لوريم وهذا ما يجعله أو
                            مولّد
                            نص لوريم إيبسوم حقيقي على الإنترنت.</p>
                    </a>
                </div>

                <div class="sec-main fr">
                    <div class="col-header">
                        <h4 class="brdr-b">تعلم معنا</h4>

                    </div>
                    <a routerLink="category">
                        <img src="assets/img/sample240.jpg" class="news-img" alt="news">
                    </a>
                    <a routerLink="category">
                        <p class="new-rs-col  news-img  news-header"> تكرار مقاطع من نص لوريم وهذا ما يجعله أو
                            مولّد
                            نص لوريم إيبسوم حقيقي على الإنترنت.</p>
                    </a>
                </div>

                <div class="sec-main fr">
                    <div class="col-header">
                        <h4 class="brdr-b">عجائب و غرائب</h4>
                    </div>
                    <a routerLink="category">
                        <img src="assets/img/sample240.jpg" class="news-img" alt="news">
                    </a>
                    <a routerLink="category">
                        <p class="new-rs-col  news-img  news-header"> تكرار مقاطع من نص لوريم وهذا ما يجعله أو
                            مولّد
                            نص لوريم إيبسوم حقيقي على الإنترنت.</p>
                    </a>
                </div>

                <div class="sec-main fr">
                    <div class="col-header">
                        <h4 class="brdr-b">علوم و تكنولوجيا</h4>
                    </div>
                    <a routerLink="category">
                        <img src="assets/img/sample240.jpg" class="news-img" alt="news">
                    </a>
                    <a routerLink="category">
                        <p class="new-rs-col  news-img  news-header"> تكرار مقاطع من نص لوريم وهذا ما يجعله أول
                            مولّد
                            نص لوريم إيبسوم حقيقي على الإنترنت.</p>
                    </a>
                </div>

                <div class="sec-main fr ">
                    <div class="col-header">
                        <h4 class="brdr-b">في مثل هذا اليوم</h4>
                    </div>
                    <a routerLink="category">
                        <img src="assets/img/sample240.jpg" class="news-img" alt="news">
                    </a>
                    <a routerLink="category">
                        <p class="new-rs-col  news-img  news-header"> تكرار مقاطع من نص لوريم وهذا ما يجعله أول
                            مولّد
                            نص لوريم إيبسوم حقيقي على الإنترنت.</p>
                    </a>
                </div> -->
            </div>
        </div>
            <div class="col-sm-3 col-md-3 ">
                <div class=" j-c-c">
                    <img src="assets/img/ads.jpg" class="ads-img" alt="ads">
                </div>

                <div class="row">
                    <div class="space-10"></div>
                </div>

                <div class="bg-w resm-0">
                    <div class="col-header link-title link-title-nounder">
                          <p>اهم الاخبار</p>
                        <hr>
                    </div>

                    <div class="side-cont mb-5" *ngFor="let objUrgent of arrUrgentNews">


                            <a (click)="getNewsDetails(objUrgent['nid'])">
                                <img src="{{MediaUrl}}{{objUrgent['news_image']}}" alt="news" class="ls-img">
                            </a>
                            <a (click)="getNewsDetails(objUrgent['nid'])">


                            <div>
                                <p class=" new-ls-col new-font  pt-0 "> {{objUrgent['news_title']}} </p>
                            </div>
                        </a>
                    </div>



                    <a class="btn cat-more btn-primary" routerLink="/category" role="button">المزيد</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="space-10"></div>
        </div>

        <!--categories part-->
        <div class="row d-flex j-c-c flex-row-reverse">


            <div class="col-sm-12 xs-p-15">


                    <div class="card j-c-r" *ngFor="let obj of arrCategories ; index as x">

                        <div class=" cat-title">
                           <a class="link-title" routerLink="/category/{{obj['cid']}}">  <p> {{obj['category_name']}} <i class="fa fa-globe" aria-hidden="true"></i> </p></a>
                            <hr>
                        </div>
                        <!-- <div *ngFor="let news of obj.news | slice:2:3">
                            <img src="{{MediaUrl}}{{news['news_image']}}" class="card-img-top cat-img" alt="...">
                        </div> -->
                        <div class="card-body">
                            <span *ngFor="let news of obj.news | slice:2:3">
                            <img src="{{MediaUrl}}{{news['news_image']}}" class="card-img-top cat-img" alt="...">
                            <a (click)="getNewsDetails(news['nid'])">

                                <p class="cat-first-title new-font "> {{news['news_title']}}
                                </p>
                            </a>
                            <p class="news-time"> {{news['news_date']}}
                                <i class="fa fa-time fa-calendar" aria-hidden="true"></i>
                            </p>
                            </span>
                            <!-- <p class="news-det"> مقاطع من نص لوريم وهذا ما يجعله أول مولّد
                            نص لوريم إيبسوم حقيقي على الإنترنت </p> -->
                            <hr>
                            
                            <div class="side-cont mb-5" *ngFor="let news of obj.news | slice:3:5">

                            <div > 
                                <a (click)="getNewsDetails(news['nid'])">

                                    <img src="{{MediaUrl}}{{news['news_image']}}" alt="news" class="ls-img">
                                    <p class="new-ls-col new-font  pt-0 "> {{news['news_title']}}
                                    </p>
                                </a>
                            </div>
                            </div>
                            
                            <hr>
                            <!-- <div class="side-cont mb-5">

                            <a routerLink="/category">
                                <img src="assets/img/news115.jpg" alt="news" class="ls-img">
                                <p class="new-rs-col new-cat pt-0 news-header"> تكرار مقاطع من نص لوريم وهذا ما
                                    يجعله تكرار مقاطع من نص لوريم وهذا ما يجعله
                                </p>
                            </a>
                        </div> -->
                    </div>
                    <a class="btn cat-more btn-primary" (click)="getNewsAttachedCategory(obj['cid'])"
                        role="button">المزيد</a>
                </div>

            </div>
        </div>
        <app-footer></app-footer>
    </div>